/**
 * General styles
 */

@import 'nib'

@font-face
  font-family Dingbat
  font-style normal
  src url(../fonts/dingbatcobogo.ttf)

body
  font-size: 100%
  font-family: "Consolas", "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Monaco", "Courier New", "Courier", monospace
  top: 0
  left: 0
  right: 0
  bottom: 0
  overflow-y: hidden
  overflow-x: hidden
  padding: 0
  margin: 0
  color: #2B2B2B
  background-color: #666666
  height: 100%

#container
  // width: 100%
  // height: 100%

/**
 * Structural & Positioning styles
 */

.lightbox
  position: fixed
  width: 10em
  height: 1.5em
  top: 2%
  right: 2%
  background-color: #5f77cc
  opacity: 0.7
  border-width: 1px
  border-style: solid
  border-color: #2d367a
  border-radius: 10px
  text-align: center
  padding: 2px 0

.lightbox checkbox
  line-height: 1.5em

.lightbox label
  display: inline-block
  text-align: left
  font-size: 0.8em

.lightbox input
  display: inline-block
  text-align: right
  vertical-align: middle

#forms
  position: absolute
  width: 48%
  height: 98%
  top: 0
  bottom: 0
  left: 0
  right: 50%
  font-family: "Arial"
  background-color: #1f5e61
  border-width: 2px
  border-style: outset
  border-color: #1f5e61
  border-radius: 20px
  margin: 10px
  z-index: 99
  text-align: center

#shapes
  position: absolute
  width: 48%
  height: 98%
  top: 0
  bottom: 0
  left: 50%
  right: 0
  font-family: "Arial"
  background-color: #5C3230 //#4b1e1c
  border-width: 2px
  border-style: outset
  border-color: #4b1e1c
  border-radius: 20px
  margin: 10px
  text-align: center


.itemlist > div
  display: block
  font-size: 10em
  margin-left: auto
  margin-right: auto
  width: 1em
  //height: 30%
  /*margin-bottom: 5%
  line-height: 1em*/

.item
  color: #4dc668 //#1650EE
  text-shadow: 0px 1px 0px #5ecb77, 0px 2px 0px #70d186 //, 0px 3px 0px #82d795, 0px 4px 0px #94dca4, 0px 5px 0px #a6e2b3, 0px 6px 0px

.item-off
  color: rgba(75,30,28, 0.8) //#5C3230 //#57c5b7 //#CFD4EB
  //text-shadow:  0 0.1em 0.1em #816160, 0 0 0 #000
  text-shadow: 1px 4px 6px #816160, 0 0 0 #000, 1px 4px 6px #816160
  border-width: 2px
  border-style: solid
  border-radius: 20px
  transition: all 300ms
  margin-bottom: 5px

.item-match
  color: #4dc668 //#5C3230 //#57c5b7 //#CFD4EB
  text-shadow: 0px 1px 0px #5ecb77, 0px 2px 0px #70d186
  border-width: 2px
  border-style: solid
  border-radius: 20px
  transition: all 300ms


.itemlist div:first-child
  margin-top: 5%

.itemlist div:last-child
  margin-bottom: 0


/**
 * Visor style -- To be splitted out
 */

#extra
  position: fixed
  width: 96%
  height: 3em
  bottom: 2%
  right: 2%
  left: 2%
  background-color: #14A62A
  border: 3px solid #4DBACD
  border-radius: 10px
  z-index: 100

.statusEnabled
  display: block
  opacity: 0.8

.gesture-data
  position: absolute
  display: inline-block
  left: 0
  width: 60%
  height: 100%

.data-indicator
  display: inline-block
  width: 30%
  height: 100%
  float: left
  border-right: solid 1px #646C7B
  text-align: center

.data-label
  color: black
  font-size: 1em

.highlight
  background-color: yellow

/* ** Effects ** */

.invisible
  display: none
  visibility: hidden

.match
  transform: scale(1.2)
  transition: all 300ms

.animated
  -webkit-animation-duration: 1s
  animation-duration: 1s
  -webkit-animation-fill-mode: both
  animation-fill-mode: both

@-webkit-keyframes wobble {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }

  15% {
    -webkit-transform: translateX(-25%) rotate(-5deg);
    transform: translateX(-25%) rotate(-5deg);
  }

  30% {
    -webkit-transform: translateX(20%) rotate(3deg);
    transform: translateX(20%) rotate(3deg);
  }

  45% {
    -webkit-transform: translateX(-15%) rotate(-3deg);
    transform: translateX(-15%) rotate(-3deg);
  }

  60% {
    -webkit-transform: translateX(10%) rotate(2deg);
    transform: translateX(10%) rotate(2deg);
  }

  75% {
    -webkit-transform: translateX(-5%) rotate(-1deg);
    transform: translateX(-5%) rotate(-1deg);
  }

  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes wobble {
  0% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }

  15% {
    -webkit-transform: translateX(-25%) rotate(-5deg);
    -ms-transform: translateX(-25%) rotate(-5deg);
    transform: translateX(-25%) rotate(-5deg);
  }

  30% {
    -webkit-transform: translateX(20%) rotate(3deg);
    -ms-transform: translateX(20%) rotate(3deg);
    transform: translateX(20%) rotate(3deg);
  }

  45% {
    -webkit-transform: translateX(-15%) rotate(-3deg);
    -ms-transform: translateX(-15%) rotate(-3deg);
    transform: translateX(-15%) rotate(-3deg);
  }

  60% {
    -webkit-transform: translateX(10%) rotate(2deg);
    -ms-transform: translateX(10%) rotate(2deg);
    transform: translateX(10%) rotate(2deg);
  }

  75% {
    -webkit-transform: translateX(-5%) rotate(-1deg);
    -ms-transform: translateX(-5%) rotate(-1deg);
    transform: translateX(-5%) rotate(-1deg);
  }

  100% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
}

.wobble
  -webkit-animation-name: wobble
  animation-name: wobble


/**
 * InteractiveApp styles
 */

#shapes .onDropZone, #shapes .onDropZone:before, #shapes .onDropZone:active
  opacity: 1
  background-color: purple


/**
 * Media Queries
 */

@media (max-width: 960px)
  .itemlist > div
    font-size: 10em
    width: 1em

  .itemlist div:first-child
    margin-top: 25%


@media handheld, (max-width: 750px)
  body
    overflow: hidden

  .itemlist .home
    position: absolute
    width: 100%
    height: 100%

  .itemlist > div
    width: 1em
    text-align: center
    height: initial
    font-size: 8em

  .itemlist div:first-child
    margin-top: 5%

  #shapes
    width: 100%
    height: 98%
    margin: 0
    left: 0
    right: 0
    bottom: 0
    top: 0
    position: absolute

  #forms
    height: 98%
    left: -60%
    right: 100%

  .lightbox
    display: none
    visibility: hidden

@media handheld, (max-height: 480px)
  body
    overflow: hidden

  #shapes
    width: 100%
    height: 98%
    margin: 0
    left: 0
    right: 0
    bottom: 0
    top: 0
    z-index: 100

  .item-off
    z-index: 100

  .item
    z-index: 1

  .itemlist > div
    font-size: 6em
    width: 1em
    margin-bottom: 5%
    text-align: center

  #forms
    z-index: 1