extends ./base

block content
  #forms
    .itemlist
      .item.draggable A

      .item.draggable B

      .item.draggable C


  #shapes
    .itemlist.home
      .item-off.droppable A

      .item-off.droppable C

      .item-off.droppable B