extends ./base

block content
  #forms.half
    .itemlist
      .square.draggable

      .circle.draggable

      .plus-sign.draggable


  #shapes.half
    .itemlist.home
      .square.droppable

      .plus-sign.droppable

      .circle.droppable