extends ./base

block content
  #forms
    .itemlist
      .item.draggable A

      .item.draggable B

      .item.draggable C


  #shapes
    .itemlist.home
      #offB.item-off.droppable B

      #offC.item-off.droppable C

      #offA.item-off.droppable A