extends ./base

block content
  #forms
    .itemlist
      #onA.item.draggable A

      #onB.item.draggable B

      #onC.item.draggable C


  #shapes
    .itemlist.home
      #offB.item-off.droppable B

      #offC.item-off.droppable C

      #offA.item-off.droppable A